*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #2F2828;
    --fg-color: #ffffff;
}

body{
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family:Arial, Helvetica, sans-serif
}

h1{
    background-color: var(--fg-color);
    color: var(--bg-color);
    font-size: 4rem;
    font-weight: 500;
    margin: 6vh 30vw;
    padding: 1vh 0 ;
    text-align: center;
    border-radius: 20px;

}

.content{
    background-color: var(--fg-color);
    color: var(--bg-color);
    margin: 15vh 25vw;
    padding: 4vh 5vw;
    text-align: center;
    border-radius: 20px;
}

#watch-display{
    font-size: 10vh;
}

.btn{
    font-size: 3vh;
    margin: 3vh 2vw 2vh;
    padding: 1vh 2vw;
    border-radius: 40px;
    border: 1px solid transparent;
}

.btn:hover{
    border-color: var(--bg-color);
    background-color: transparent;
}